@page "/workflows"
@using FlowPilot.Web.Models
@using FlowPilot.Web.Services

@inject ApiService ApiService

<h3>Workflows</h3>

<div class="workflow-form">

    <select class="form-select mb-2"
            @onchange="TemplateChanged">

        <option value="">
            Select Template
        </option>

        @foreach (var template in Templates)
        {
            <option value="@template.Name">
                @template.Name
            </option>
        }

    </select>

    <input class="form-control mb-2"
           placeholder="Workflow Name"
           @bind="NewWorkflowName" />

    <input class="form-control mb-2"
           placeholder="Description"
           @bind="NewWorkflowDescription" />

    @foreach (var step in Steps)
    {
        <div class="card mb-3">

            <div class="card-body">

                <h6>
                    Step @step.Order
                </h6>

                <input class="form-control mb-2"
                       placeholder="Step Name"
                       @bind="step.Name" />

                <textarea class="form-control"
                          rows="5"
                          placeholder="Prompt"
                          @bind="step.Prompt">
                </textarea>

                <button class="btn btn-danger mt-2"
                        @onclick="() =>  RemoveStep(step)">Remove Step
                </button>

            </div>

        </div>
    }

    <button class="btn btn-secondary"
            @onclick="AddStep">

        Add Step

    </button>

    <button class="btn btn-primary"
            @onclick="CreateWorkflow">
        Create Workflow
    </button>

</div>

<hr />

@if (workflows == null)
{
    <p>Loading...</p>
}
else if (workflows.Count == 0)
{
    <div class="alert alert-info">
        No workflows yet.
        Create your first AI workflow.
    </div>
}
else
{
    @foreach (var workflow in workflows)
    {
        <div class="workflow-card">

            <h4>@workflow.Name</h4>

            <p>@workflow.Description</p>

            <ul>

                @foreach (var step
                          in workflow.Steps)
                {
                    <li>
                        @step.Name
                    </li>
                }

            </ul>

            <div class="workflow-actions">

                <a href="/workflows/run/@workflow.Id"
                   class="btn btn-success btn-sm">
                    Run
                </a>

                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteWorkflow(workflow.Id)">
                    Delete
                </button>

            </div>

        </div>
    }
}

@code {

    private List<Workflow> workflows = [];

    private string NewWorkflowName = "";

    private string NewWorkflowDescription = "";

    private List<WorkflowStep> Steps =
        [
            new()
            {
                Order = 1
            }
        ];

    private List<WorkflowTemplate> Templates = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkflows();

        Templates = await ApiService.GetTemplates();
    }

    private async Task LoadWorkflows()
    {
        workflows =
            await ApiService.GetWorkflows();
    }

    private async Task CreateWorkflow()
    {
        var request =
            new CreateWorkflowRequest
            {
                Name = NewWorkflowName,
                Description =
                    NewWorkflowDescription,

                Steps = Steps
            };

        await ApiService
            .CreateWorkflow(request);

        await LoadWorkflows();

        NewWorkflowName = "";

        NewWorkflowDescription = "";

        Steps =
        [
            new()
        {
            Order = 1
        }
        ];
    }

    private async Task DeleteWorkflow(string workflowId)
    {
        await ApiService.DeleteWorkflow(workflowId);

        await LoadWorkflows();
    }

    private void TemplateChanged(
    ChangeEventArgs e)
    {
        var name =
            e.Value?.ToString();

        var template =
            Templates
            .FirstOrDefault(
                x => x.Name == name);

        if (template is null)
            return;

        NewWorkflowName =
            template.Name;

        NewWorkflowDescription =
            template.Description;

        Steps = template.Steps
                .Select(x =>
                    new WorkflowStep
                    {
                        Order = x.Order,
                        Name = x.Name,
                        Prompt = x.Prompt
                    })
                .ToList();
    }

    private void AddStep()
    {
        Steps.Add(
            new WorkflowStep
            {
                Order = Steps.Count + 1
            });
    }

    private void RemoveStep(
    WorkflowStep step)
    {
        Steps.Remove(step);

        for (int i = 0;
             i < Steps.Count;
             i++)
        {
            Steps[i].Order = i + 1;
        }
    }

}